<html>
    <head>
    <%- headData %>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    </head>
    <body>
        <div id="root"><%- html %></div>
    <script src="/static/js/app.bundle.js"></script>
    </body>
</html>